*.md filter=lfs diff=lfs merge=lfs -text
/app-arch/jefferson/Manifest filter=lfs diff=lfs merge=lfs -text
/app-backup/deja-dup/Manifest filter=lfs diff=lfs merge=lfs -text
/app-backup/kopia-ui-bin/Manifest filter=lfs diff=lfs merge=lfs -text
*.ebuild filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
/app-backup/kopia/Manifest filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/app-backup/restic/Manifest filter=lfs diff=lfs merge=lfs -text
/app-benchmark/geekbench/Manifest filter=lfs diff=lfs merge=lfs -text
/app-emulation/crossover-bin/Manifest filter=lfs diff=lfs merge=lfs -text
/app-laptop/tuxedo-control-center-bin/Manifest filter=lfs diff=lfs merge=lfs -text
/dev-java/graalvm-bin/Manifest filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/dev-libs/gjs/Manifest filter=lfs diff=lfs merge=lfs -text
/dev-libs/rccl/Manifest filter=lfs diff=lfs merge=lfs -text
*.patch filter=lfs diff=lfs merge=lfs -text
/dev-texlive/texlive-plantuml/Manifest filter=lfs diff=lfs merge=lfs -text
/dev-vcs/gitahead/Manifest filter=lfs diff=lfs merge=lfs -text
/games-util/steamtinkerlaunch/Manifest filter=lfs diff=lfs merge=lfs -text
/gui-libs/tepl/Manifest filter=lfs diff=lfs merge=lfs -text
/media-gfx/sweethome3d-bin/Manifest filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
/net-misc/insync/Manifest filter=lfs diff=lfs merge=lfs -text
/net-p2p/etherwall/Manifest filter=lfs diff=lfs merge=lfs -text
/profiles/categories filter=lfs diff=lfs merge=lfs -text
/profiles/repo_name filter=lfs diff=lfs merge=lfs -text
/sys-apps/cockpit/Manifest filter=lfs diff=lfs merge=lfs -text
*.pam filter=lfs diff=lfs merge=lfs -text
/sys-apps/pcp/Manifest filter=lfs diff=lfs merge=lfs -text
/sys-auth/adcli/Manifest filter=lfs diff=lfs merge=lfs -text
/sys-auth/authconfig/Manifest filter=lfs diff=lfs merge=lfs -text
/sys-auth/oddjob/Manifest filter=lfs diff=lfs merge=lfs -text
*.service filter=lfs diff=lfs merge=lfs -text
/sys-cluster/lens/Manifest filter=lfs diff=lfs merge=lfs -text
/sys-cluster/open-lens-bin/Manifest filter=lfs diff=lfs merge=lfs -text
. !text !filter !merge !diff
profiles/repo_name !text !filter !merge !diff
profiles/categories !text !filter !merge !diff
